main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: calc(10vw - 10px);
    margin-right: calc(10vw - 10px);
}

main p {
    font-size: 2em;
    margin-bottom: 10px;
}

#name {
    text-align: center;
    margin-bottom: 20px;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

#main > div:nth-child(1) {
    width: 40%;
}
#main > div:nth-child(2) {
    width: 60%;
    padding-left: 10px;
}

#main input {
    background-color: var(--detail1);
    border: 2px solid var(--detail2);
    border-radius: 10px;
    font-size: 2em;
    color: white;
    width: 100%;
    margin-bottom: 40px;
}

#image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.tagify {
    --tag-pad: 0.1em 0.2em;
    --readonly-striped: 0;

    background-color: none;
    border: none;
    font-size: 2em;
    margin-bottom: 40px;
}

#local {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background-color: var(--detail2);
    color: var(--detail1);
    padding: 5px;
    transition: 0.1s;
    cursor: pointer;
    text-decoration: none;
}

#local:hover {
    filter: brightness(120%);
}

#local > p {
    margin: 0;
    font-weight: 600;
    user-select: none;
}

#local > img {
    height: 90px;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#description {
    background-color: var(--detail1);
    border: 2px solid var(--detail2);
    border-radius: 10px;
    font-size: 2em;
    color: white;
    width: 100%;
    margin-bottom: 40px;
    resize: none;
    min-height: 150px;
}

#childItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.childItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 35px);
    background-color: var(--detail1);
    border: 2px solid var(--detail2);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
}

.childItem:hover {
    filter: brightness(110%);
}

.childItem > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.childItem > p {
    margin: 0px;
    color: white;
    text-align: center;
}

.childItem.add > p {
    color: var(--detail2);
    font-weight: 800;
}

#return {
    display: flex;
    gap: 10px;
    width: 100%;
}

#return > a:nth-child(1) {
    background-color: var(--detail2);
    color: var(--detail1);
    border-radius: 10px;
    font-size: 3em;
    font-weight: 800;
    width: 100%;
    cursor: pointer;
    transition: 0.1s;
    z-index: 0;
    text-align: center;
    text-decoration: none;
}
#return > a:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    background-color: var(--detail2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    z-index: 0;
}

#return img {
    width: 2.5em;
}

#return > a:hover {
    filter: brightness(120%);
}


#modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#addItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--detail1);
    border: 2px solid var(--detail2);
    border-radius: 10px;
    width: 50%;
    min-width: 500px;
    height: 80%;
    min-height: 200px;
}

#addItem > p {
    text-align: center;
}

#addItem > input {
    background-color: var(--bg);
    border: 2px solid var(--detail2);
    border-radius: 10px;
    font-size: 2em;
    color: white;
    width: 95%;
    margin-bottom: 10px;
}

#itemsModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
}

#itemsModal::-webkit-scrollbar {
    width: 10px;
}

#itemsModal::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

#itemsModal::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}

.itemsModal{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--detail2);
    border-radius: 10px;
    padding: 5px;
    height: 80px;
    width: 95%;
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
}

.itemsModal:hover {
    scale: 1.03;
}

.itemsModal > img {
    height: 75px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.1s;
}

.itemsModal > p {
    margin: 0;
}
